/* Style in Canvas */
canvas {
  border: 2px solid lightgrey;
  padding: 0;
  margin: auto;
  display: block;
  cursor: none;
  background: url(https://s3.amazonaws.com/www.norverum.com/BabySharkAssets/Fondo1.jpg);
  background-size: 100% 100%;
}

/* h1 - Style */
h1,
h2 {
  text-align: center;
}

button {
  width: 100px;
  margin: 0 auto;
  display: block;
}

div {
  padding: 10px;
}