body {
  background-image: linear-gradient(blue, aqua);
}

progress::-webkit-progress-bar { background: rgb(242, 241, 245); }
progress::-webkit-progress-value { background: red; }

#progress{
  -webkit-appearance: progress-bar;
  
  border: 0;
  height: 30px;
  width: 70%;
  border-radius: 9px;
}

.div-container{
  display: flex;
  justify-content: center;
}

/* Style in Canvas */
canvas {
  border: 2px solid lightgrey;
  padding: 0;
  margin: auto;
  display: block;
  /* cursor: none; */
  background: url(https://s3.amazonaws.com/www.norverum.com/BabySharkAssets/Fondo1.jpg);
    background-size: 100% 100%;
}

/* h1 - Style */
h1,
h2 {
  text-align: center;
  color: aliceblue !important;
}



button {
  width: 100px;
  margin: 0 auto;
  justify-content: center;
}

div {
  padding: 10px;
  align-items: center;
}